/* ======================================================item css====================================================================== */
.itemPage {
    border-bottom: 1px solid #8b8c8b;
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 50px;
    padding-bottom: 30px;
  }
  .file-input {
    display: none;
  }
  
  .file-label {
    display: inline-block;
    padding: 10px;
    color: black;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.441);
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    width: 100%;
    height: 40px;
    line-height: 20px;
    box-sizing: border-box;
  }
  
  #file-chosen {
    margin-top: 10px;
    display: block;
    color: #666666;
    font-size: 14px;
  }
  
  .itemCardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:0;
    /* margin-left: 12px;
    justify-content: center;
    align-items: center; */
  }
  
  .itemCard {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 13px;
    width: 200px;
    height: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .itemCard img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 12px;
  }
  
  .itemCard h2 {
    font-size: 1.2em;
    margin-bottom: 8px;
  }
  
  .itemCard p {
    font-size: 1em;
    color: #666;
    margin-bottom: 4px;
  }
  
  #menuIcon {
    display: none;
  }
  
  .responsiveNav ul li:not(#menuIcon) {
    display: none;
  }
  
  .responsiveNav ul li a {
    display: none;
  }

  @media screen and (max-width: 1165px) {
    .threeForms {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: 20px;
      place-items: center;
      align-items: center;
      justify-items: center;
    }
  }
  
  @media screen and (max-width: 1019px) {
    .wrapper {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
  @media screen and (max-width: 780px) {
    #menuIcon {
      display: block;
      text-align: end;
    }
    .tittleBar h1 {
      font-size: 20px;
    }
    .getAndClearButtons {
      display: none;
    }
    .responsiveNav {
      padding: 15px;
      background-color: #5e5f5e;
      width: 100%;
    }
    .responsiveNav ul li a {
      display: none;
    }
    .threeForms {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  
    header {
      padding: 0;
    }
    #navbar {
      display: none;
    }
    .form {
      width: 100%;
    }
    #orderTittle {
      font-size: 20px;
      
    }
    .itemCardsContainer{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  
  @media screen and (max-width: 580px) {
    .tittleBar {
      display: flex;
    }
    .tittleBar h1 {
      font-size: 20px;
      /* font-weight: bold; */
    }
    .search {
      width: 200px;
    }
    .searchIcon {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }
  
  /* Add a media query for larger screens to show the menu items */
  @media (min-width: 768px) {
    .responsiveNav ul li {
      display: block;
    }
  }
  
  @media screen and (max-width: 325px) {
    .tittleBar h1 {
      font-size: 14px;
      /* font-weight: bold; */
    }
    .itemCardsContainer {
      display: grid;
      grid-template-columns: 1fr;
      place-items: center;
    }
    #custTable {
      height: auto;
      overflow: scroll;
      font-size: 12px;
    }
  
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 90%;
      margin: 7px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .search {
      background-color: white;
      border-radius: 30px;
      display: flex;
      padding: 8px;
      width: 150px;
    }
    .search i {
      display: none;
    }
    .registration form {
      margin: 20px;
      border: 1px solid rgba(128, 128, 128, 0.441);
      border-radius: 20px;
      background-color: #fefeff;
      padding: 35px;
    }
  
  }
  